/* Texto centralizado */
#container-center {
  text-align: center;
  border: 1px solid red;
}

.text-right {
  text-align: right;
}

/* Text decoration */
.underline {
  text-decoration: underline;
}

.strike-througt {
  text-decoration: line-through;
}

.remove-underline {
  text-decoration: none;
  color: #2b5f3a;
}

/* Text transform */
.uper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

/* Letter spacing */
.spacing {
  letter-spacing: 6px;
  color: #000;
  font-weight: bold;
}

/* Fontes */
.serif {
  font-family: Georgia;
}

.sans-serif {
  font-family: Helvetica;
}

.monospace {
  font-style: "Courier New";
}

.cursive {
  font-family: cursive;
}

.fantasy {
  font-family: fantasy;
}

/* Text style */
.italic {
  font-style: italic;
}

.oblique {
  font-style: oblique;
}

/* Font weight */
.thin,
.bold,
.bolder {
  font-family: Helvetica;
}

.thin {
  font-weight: 100;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 900;
}

/* Font size */
.small {
  font-size: 6px;
}

.big {
  font-size: 78px;
}

/* Display */
.inline-box {
  width: 50px;
  height: 50px;
  background-color: #4f8;
  margin: 10px;
  display: inline-block;
}

.block {
  background-color: #333;
  display: block;
  margin: 10px;
}

.invisible {
  display: none;
}